<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- facebook -->
    <meta property="og:title" content="<%=account%>" />
    <meta property="og:site_name" content="bingle.pastelplus.com"/>
    <meta property="og:description" content="<%=comment%>" />
    <meta property="fb:app_id" content="966242223397117" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://bingle.pastelplus.com/<%=photo_url_preview%>"/>

    <meta property="article:author" content="http://113.198.39.114/" />
    <meta property="article:publisher" content="http://113.198.39.114/" />

    <!-- Google -->
    <meta itemprop="description" content="<%=comment%>">
    <meta itemprop="image" content="http://bingle.pastelplus.com/<%=photo_url_preview%>">

    <!-- 트위터 -->
    <meta name="twitter:card"           content="photo">
    <meta name="twitter:site"           content="bingle.pastelplus.com">
    <meta name="twitter:creator"        content="<%=account%>">
    <meta name="twitter:image"          content="http://bingle.pastelplus.com/<%=photo_url_preview%>">
    <meta name="twitter:description"    content="<%=comment%>">

    <%include ../static/css.html%>
<style>
    #result{
        min-height: 200px;
        max-height: 500px;
        max-width: 1024px;
    }
    #description{
        width: 100%;
        background: rgba(0,0,0,1);
        color: white;
        margin: 0;
        padding: 12px;
    }

</style>
    <title>Bingle+</title>
</head>

<body class="single-post" ng-app="bingle" ng-controller="root">
    <div id="page-wrap">
        <section class="blog-heading text-center">
            <div class="container">
                <a href="/p/<%=pid%>" target="_blank"><h1 class="text-uppercase">BINGLE<span style="color: #E15D5D">+</span></h1></a>
            </div>
        </section>

        <section class="blog-content blog-standard">
            <div class="container">
                <div class="row">
                    <!-- CONTENT -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="content">

                            <!-- POST -->
                            <div class="post">
                                <div class="post-media">
                                    <div id="render-pano" class="image-wrap" >

                                    </div>
                                    <div class="post-cat">
                                        <a href="#">Travel</a>
                                    </div>
                                </div>

                                <div class="post-body">
                                    <div class="post-author">
                                        <a href="/p/<%=pid%>" target="_blank">
                                            <div class="image-thumb">
                                                <img src="/lib/template/images/author/profile1_50.png" alt="">
                                            </div>
                                            <div class="name-author">
                                                <cite><%=account%></cite>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="post-title">
                                        <h2><a><%=comment%></a></h2>
                                    </div>
                                    <div class="post-meta">
                                        <div class="post-format">
                                            <a href="#"><i class="fa fa-image"></i></a>
                                        </div>
                                        <div class="post-date">
                                            <span class="year">2015</span>
                                            <span class="month">Mar</span>
                                            <span class="day">14</span>
                                        </div>
                                        <div class="post-comment">
                                            <i class="fa fa-comment"></i>
                                            <a href="#">105</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END / POST -->

                        </div>
                    </div>
                    <!-- END / CONTENT -->
                </div>
            </div>
        </section>

        <!--<%include ../addon/footer.html%>-->
    </div>
    <!-- END / PAGE-WRAP -->

<!-- LOAD JQUERY -->
<%include ../static/js.html%>
<script>
    setTimeout(function () {
        var photo_url = '<%=photo_url%>';
        console.log("photo_url : " + photo_url);
        embedpano({swf:"/"+photo_url+".swf", xml:"/"+photo_url+".xml", target:"render-pano", html5:"prefer", passQueryParameters:true});

        $("#krpanoSWFObject").css({
            "min-height" : 500,
            "height" : "auto"
        });
    },10);
</script>
</body>

</html>
